<div class="container">
    <div class="title">
        <h1>Login</h1>
    </div>
    <form (ngSubmit)="login()" #loginS="ngForm">

        <a class="emailt" for="Email">email</a>
        <div>
            <input type="text" class="form-control" [(ngModel)]="model.mail" name="mail" placeholder="Email" required>
        </div>

        <a class="pwordt" for="Password">password</a>
        <div>
            <input type="password" class="form-control" [(ngModel)]="model.password" name="password"
                placeholder="Password" required>
        </div>

        <button [disabled]="!loginS.form.valid" type="submit" value="Login">Login</button>
    </form>
</div>